{% extends "base.html.twig" %}

{% block title %}Swan DUVAL
{% endblock %}

{% block body %}

    {% include "include/_flashes.html.twig" %}

	<h1 class="text-center my-4">Tous les articles</h1>

    <div class="row mb-3 d-flex justify-content-around">
    

    </div>

{% endblock %}
